<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<h:form id="studentform">
		<p:dataTable var="s" value="#{userLogin.s}" rowIndexVar="row">
			<f:facet name="header">
            						Tabela Date Studenti
       		</f:facet>
       		<p:ajax event="sort" listener="#{actionLinkClass.onSort}"></p:ajax> 
			<p:columnGroup type="header">
				<p:row>
					<p:column headerText="Informatii" colspan="5" />
					<p:column headerText="Action" rowspan="2" colspan="3" />
				</p:row>
				<p:row>
					<p:column headerText="Numar Matricol" sortBy="#{s.nrMatricol}" />

					<p:column headerText="Nume" sortBy="#{s.nume}" />
					<p:column headerText="An de studiu" sortBy="#{s.an}" />
					<p:column headerText="Orar" />
					<p:column headerText="Catalog" />

				</p:row>
			</p:columnGroup>
			<p:column>
				<h:outputText value="#{s.nrMatricol}" />
			</p:column>
			<p:column>
				<h:outputText value="#{s.nume}" />
			</p:column>
			<p:column>
				<h:outputText value="#{s.an}" />
			</p:column>
			<p:column>
				<p:commandLink value="Orar #{s.orar}"
					action="#{actionLinkClass.showOrar(row)}" update=":orartable"
					oncomplete="dlg3.show();return false"/>

				
			</p:column>
			<p:column>
				<p:commandLink value="#{s.catalog} " action="#{actionLinkClass.showCatalog(row)}" update=":catalogtable" oncomplete="dlg5.show();return false"/>
				
				
			</p:column>
			<p:column>
				<p:commandLink value="Add" onclick="dlg4.show();return false" />
			</p:column>
			<p:column>
				<p:commandLink value="Remove" action="#{actionLinkClass.findStudent(row)}" update =":updatedialogform" oncomplete="dlg6.show();return false" />
			</p:column>
			<p:column>
				<p:commandLink value="Update" />
			</p:column>
		</p:dataTable>
	</h:form>

</ui:composition>

</html>