<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>You failed to login</title>
</head>
<h:body>

<p:layout style="min-width:400px;min-height:600px;border: none;">
		<p:layoutUnit position="north" style="border: none;">
			<p:outputPanel>
				<h2 style="text-align: center;">Proiect JSF JPA Primefaces
					-Pentastagiu</h2>
			</p:outputPanel>
		</p:layoutUnit>
		
		
		<p:layoutUnit position="center" style="border: none;">
			<h:panelGrid border="0" columns="3">
				<h:graphicImage value="resources/images/forbidden.png" style="width: 187px; height: 179px; "/>
				<h1 style="text-align: center;position:center;">Your data was wrong</h1>
				<h:form>
					<h:link outcome="paginastart?faces-redirect=true">
						<h:outputText value="...Back"></h:outputText>
					</h:link>
				</h:form>
			</h:panelGrid>
			
			
		</p:layoutUnit>

	</p:layout>

</h:body>
</html>