<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>First page</title>
</h:head>
<h:body>

	<p:layout style="min-width:400px;min-height:600px;border: none;">
		<p:layoutUnit position="north" style="border: none;">
			<p:outputPanel>
				<h2 style="text-align: center;">Proiect JSF JPA Primefaces
					-Pentastagiu</h2>
			</p:outputPanel>
		</p:layoutUnit>
		<p:layoutUnit position="west"  style="border: none;">
			<h:form>
			 <p:menu>
                <p:menuitem value="Login" icon="ui-icon-power" onclick="dlg2.show();return false;"/>
			
				</p:menu>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center" style="border: none;">
			<h1 style="text-align: center;position:center;">Welcome to the app!!</h1>
		</p:layoutUnit>

	</p:layout>
<ui:include src="logindialog.xhtml" />
</h:body>
</html>