<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<p:dialog header="Adaugare Student" widgetVar="dlg4" modal="true"
		draggable="false" resizable="false" height="280" width="460" >
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="Nume" />
				<h:inputText value="#{studentForm.nume}" />
				<h:outputText value="Preume" />
				<h:inputText value="#{studentForm.prenume}" />
				<h:outputText value="An_Studiu" />
				<h:inputText value="#{studentForm.an}" />
				<h:outputText value="Numar Matricol" />
				<h:inputText value="#{studentForm.nrMatricol}" />
				<h:outputText value="Grupa" />
				<h:inputText value="#{studentForm.grupa}" />
				<h:outputText value="Email" />
				<h:inputText value="#{studentForm.email}" />
			</h:panelGrid>
			<p:spacer height="40" />
			<p:commandButton value="Save" action="#{studentForm.add}" update=":form:optionPanel" oncomplete="dlg4.hide()"/>
			<p:commandButton value="Cancel" onclick="dlg4.hide()" />

		</h:form>
	</p:dialog>
</ui:composition>
</html>