<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<h:form>
		<p:dataTable var="s" value="#{userLogin.s}" style="margin-bottom:40px"
			rowIndexVar="row1">
			<f:facet name="header">
            						Tabela Date Studenti
       							 </f:facet>
			<p:columnGroup type="header">
				<p:row>
					<p:column headerText="Numar Matricol" sortBy="#{s.nrMatricol}" />

					<p:column headerText="Nume" sortBy="#{s.nume}" />
					<p:column headerText="An de studiu" sortBy="#{s.an}" />
					<p:column headerText="Orar" />
					<p:column headerText="Catalog" />
					<p:column headerText="Action" colspan="3" />
				</p:row>
			</p:columnGroup>
			<p:column>
				<h:outputText value="#{s.nrMatricol}" />
			</p:column>
			<p:column>
				<h:outputText value="#{s.nume}" />
			</p:column>
			<p:column>
				<h:outputText value="#{s.an}" />
			</p:column>
			<p:column>
				<p:commandLink value="#{s.orar}"
					action="#{userLogin.showOrar(row1)}" update =":orartable"
					oncomplete="dlg3.show();return false">
				</p:commandLink>
			</p:column>
			<p:column>
				<p:commandLink>
					<h:outputText value="#{s.catalog}"></h:outputText>
				</p:commandLink>
			</p:column>
			<p:column>
				<p:commandLink value="Add" onclick="dlg4.show();return false" />
			</p:column>
			<p:column>
				<p:commandLink value="Update" />
			</p:column>
			<p:column>
				<p:commandLink value="Remove" />
			</p:column>
		</p:dataTable>
	</h:form>

</ui:composition>

</html>