<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >

						<p:dataTable var="c" value="#{userLogin.continutNews}"
							style="margin-bottom:40px border: none;" rowIndexVar="row" tableStyle="width:200px">
							<p:column style="border-style: none;">
								<h:outputText value="#{c.continutNews}"
									rendered="#{stform.con==row}" />
								<h:commandLink value="...Back" action="#{stform.ps(row)}"
									rendered="#{stform.con==row}" />
								<h:outputText value="#{c.continutShortNews}"
									rendered="#{stform.con==-1}" />
								<h:commandLink value="Continuati" action="#{stform.ps(row)}"
									rendered="#{stform.con==-1}" />
									
							</p:column>
						</p:dataTable>

					
	
</ui:composition>
</html>