<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >
<h:form id="confirmremoveprofesor">
	<p:confirmDialog message="#{userLogin.service.message}" widgetVar="confirmprofesor">
	
	<p:commandButton value="Da" action="#{userLogin.removeProfesor}" update=":profesoriform" oncomplete="confirmprofesor.hide()"/>
	<p:commandButton value="Nu" onclick="confirmprofesor.hide()"/>
	
	</p:confirmDialog>
</h:form>
	
</ui:composition>
</html>