<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/styles.css" rel="stylesheet" type="text/css"/>
	<title>Student v1.0</title>
</h:head>
<h:body>

	<p:layout fullPage="true" id="allLayout">
		<p:layoutUnit position="north" style="border: none;">
			<p:outputPanel>
				<h2 style="text-align: center;">Proiect JSF JPA Primefaces
					-Pentastagiu</h2>
			</p:outputPanel>
		</p:layoutUnit>
		<p:layoutUnit position="west" style="border:none" header="Menu">
			<p:spacer height="50" />

			<h:form id ="menu" prependId="false">
				<p:menu >

					<p:menuitem value="Logout"
						outcome="paginastart?faces-redirect=true" />
					<p:menuitem value="Student"
						action="#{stform.setSelectedOption(stform.OPT1)}"
						update=":optionPanel,:menu" />
					<p:menuitem value="Profesor"
						action="#{stform.setSelectedOption(stform.OPT2)}"
						update=":optionPanel,:menu" />
					<p:menuitem value="News"
						action="#{stform.setSelectedOption(stform.OPT3)}"
						update=":optionPanel,:menu" />

					<p:menuitem value="Date de referinta"
						action="#{stform.setSelectedOptionOnOff()}"
						update=":optionPanel,:menu" icon="#{stform.icon}" />

					<p:menuitem value="	Grupe" rendered="#{stform.selectedOnOff}" icon="ui-icon-minus" action="#{stform.setSelectedOption(stform.OPT4)}"
						update=":optionPanel,:menu"/>
					<p:menuitem value=" Tipuri de evaluare"  rendered="#{stform.selectedOnOff }" icon="ui-icon-minus" action="#{stform.setSelectedOption(stform.OPT5)}"
						update=":optionPanel,:menu"/>
					<p:menuitem value=" Materii" rendered="#{stform.selectedOnOff}" icon="ui-icon-minus" action="#{stform.setSelectedOption(stform.OPT6)}"
						update=":optionPanel,:menu"/>
				</p:menu>
				

				
			</h:form>

		</p:layoutUnit>
		<p:layoutUnit position="
							center" style="border:none;"
			size="360px">

			<p:panel id="optionPanel" style="border: none;" >
				<p:panel id="opt1Panel"
					rendered="#{stform.selectedOption == stform.OPT1}"
					style="border: none;">
					<ui:include src="contentstudent.xhtml" />
				</p:panel>
				<p:panel id="opt2Panel"
					rendered="#{stform.selectedOption ==stform.OPT2}"
					style="border: none;">
					<ui:include src="contentprofesor.xhtml" />
				</p:panel>
				<p:panel id="opt3Panel"
					rendered="#{stform.selectedOption ==stform.OPT3}"
					style="border: none;">
					<ui:include src="newscontent.xhtml" />
				</p:panel>
				<p:panel id="opt4Panel"
					rendered="#{stform.selectedOption ==stform.OPT4}"
					style="border: none;">
					<ui:include src="contentgrupe.xhtml" />
				</p:panel>
			</p:panel>
		</p:layoutUnit>
	</p:layout>
	<ui:include src="addstudent.xhtml" />
	<ui:include src="orarshowdialog.xhtml" />
	<ui:include src="updatedialog.xhtml" />
	<ui:include src="catalogdialog.xhtml" />
	<ui:include src="addprofesor.xhtml" />
	<ui:include src="studentRemove.xhtml" />
	<ui:include src="updateProfesorDialog.xhtml" />
	<ui:include src="removeProfesorDialog.xhtml" />
</h:body>
</html>