<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="">
	<p:dataTable var="o" value="#{actionLinkClass.orar}"
				style="margin-bottom:40px border: none;"
				emptyMessage="No Data Available" lazy="true" id="orartable">
				<p:column headerText="IdObiect">
					<h:outputText value="#{o.idObiect}"></h:outputText>
				</p:column>
				<p:column headerText="Data">
					<h:outputText value="#{o.data}"></h:outputText>
				</p:column>
				<p:column headerText="Interval">
					<h:outputText value="#{o.intervalOrar}"></h:outputText>
				</p:column>
				<p:column headerText="Sala">
					<h:outputText value="#{o.salaCurs}"></h:outputText>
				</p:column>

			</p:dataTable>
			
			
			
			
			
			<p:dataTable var="o" value="#{actionLinkClass.orar}"
				style="margin-bottom:40px border: none;"
				emptyMessage="No Data Available" lazy="true" id="orartable">
				<p:column headerText="Nume Obiect">
					<h:outputText value="#{o.numeObiect}"></h:outputText>
				</p:column>
				<p:column headerText="Data">
					<h:outputText value="#{o.data}"></h:outputText>
				</p:column>
				<p:column headerText="Interval">
					<h:outputText value="#{o.interval}"></h:outputText>
				</p:column>
				<p:column headerText="Sala">
					<h:outputText value="#{o.sala}"></h:outputText>
				</p:column>

			</p:dataTable>
</ui:composition>
</html>