<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>

	<p:dialog header="Adaugare Student" widgetVar="dlg4" modal="true"
		draggable="false" resizable="false" height="280" width="660" >
		<h:form id="stform" prependId="false">
		<p:outputPanel autoUpdate="true">
		
		 <h:messages  globalOnly="true"/>
			<h:panelGrid columns="3" style="width: 547px; ">
				<h:outputText value="Nume" />
				<h:inputText id="nume" value="#{studentForm.nume}" required="true" requiredMessage="Numele e necesar"/>
				<p:message for="nume"  style="color:red" />
				<h:outputText value="Preume" />
				<h:inputText value="#{studentForm.prenume}" />
				<h:message  style="color:red" />
				<h:outputText value="An_Studiu" />
				<h:inputText value="#{studentForm.an}" />
				<h:message  style="color:red" />
				<h:outputText value="Numar Matricol" />
				<h:inputText value="#{studentForm.nrMatricol}" />
				<h:message  style="color:red" />
				<h:outputText for="grupe" value="Grupe " />
				<p:selectOneMenu id="grupe"
					value="#{actionLinkClass.grupaAleasa}">
					<f:selectItem itemLabel="Select One" itemValue="" />
					<f:selectItems value="#{userLogin.grupe}" />
				</p:selectOneMenu>
				<h:message  style="color:red" />
				<h:outputText value="Email" />
				<h:inputText value="#{studentForm.email}" />
				<h:message for="nume" style="color:red" />
			</h:panelGrid>
			<p:spacer height="40" />
			<p:commandButton value="Save" action="#{studentForm.add}" update=":grupeform,:studentform:tabelst,:optionPanel" />
			<p:commandButton value="Cancel" onclick="dlg4.hide()" />

		
		</p:outputPanel>
		</h:form>
	</p:dialog>
</ui:composition>
</html>