<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>

	<p:dialog header="Catalog #{actionLinkClass.catalogDialogTitle}"
		widgetVar="dlg5" modal="true" draggable="false" resizable="false"
		height="400" width="550" id="catalogDialog">
	<p:outputPanel autoUpdate="true">	
		<h:form id="obiectList">
		<p:panelGrid style="border:none" columns="2">
				<p:outputLabel for="listaobiecte" value="Obiecte: " />
				<p:selectOneMenu id="listaobiecte"
					value="#{actionLinkClass.obiectAles}">
					<f:selectItem itemLabel="Select One" itemValue="" />
					<f:selectItems value="#{actionLinkClass.obiecte}" />
				</p:selectOneMenu>
				<p:commandButton value="Show Catalog"
					action="#{actionLinkClass.creareCatalog}"
					update=":catalogtable" />
				</p:panelGrid>
		</h:form>
		</p:outputPanel>
		<h:form id="catalogtable">
			<p:dataTable var="c" value="#{actionLinkClass.catalog}"
				style="margin-bottom:40px border: none;"
				emptyMessage="No Data Available" id="catalogtable"
				selection="#{userLogin.c1}" rowKey="#{c.id}" rowIndexVar="row" rowSelectMode="add">

				<p:column selectionMode="multiple"
					rendered="#{userLogin.showCatalog}">

				</p:column>
				<p:column rendered="#{not userLogin.showCatalog}">
					<h:graphicImage value="resources/images/forbidden.png"
						style="width: 15px; height: 15px; " />
				</p:column>
				<p:column>
					<h:outputText value="#{c.c.idObiect}" rendered="#{!c.selected}" />
					<h:inputText value="#{c.c.idObiect}" rendered="#{c.selected}" />
				</p:column>
				<p:column headerText="Prezente">

					<h:outputText value="#{c.c.nrPrezente }" rendered="#{!c.selected}" />
					<h:inputText value="#{c.c.nrPrezente }" rendered="#{c.selected}" />
				</p:column>

			</p:dataTable>
			<br/>
			<p:spacer width="30" />
			<p:panelGrid columns="5" style="border:0px;">
				<p:spacer width="30" />
				<p:commandButton value="Add" action="#{userLogin.addCatalog}" update=":catalogtable" />
				<p:commandButton value="Update" action="#{userLogin.updateCatalog}" update=":catalogtable"/>
				<p:commandButton value="Remove"  action="#{userLogin.removeCatalog}" update=":catalogtable" />
				<p:spacer width="30" />
				<p:spacer width="60" />
				<p:spacer width="60" />
				<p:commandButton value="Save"  action="#{userLogin.aplliedAction}" update=":catalogtable" />
				<p:commandButton value="Cancel" />
				<p:spacer width="60" />
			</p:panelGrid>
		</h:form>

	</p:dialog>

</ui:composition>
</html>