<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >
	<h:form>
	<p:dataTable value="#{userLogin.profesori}" var="p" rowIndexVar="row">
	<p:ajax event="sort" listener="#{userLogin.onSort}"/> 
	<p:column headerText="Nume" style="width: 45px; " sortBy="#{p.numeForm}">
	<h:outputText value="#{p.numeForm}" />
	</p:column>
	<p:column headerText="Email">
	<h:outputText value="#{p.email}" />
	</p:column>
	<p:column headerText="Site">
	<h:outputText value="#{p.site}" />
	</p:column>
	<p:column headerText="Obiecte">
	<p:commandLink value="Obiecte Predate" />
	</p:column>
	<p:column colspan="3" headerText="Action">
	<p:commandLink value="Add" onclick="dlg7.show();return false" />/
	<p:commandLink value="Remove" />/
	<p:commandLink value="Update" action="#{userLogin.updateProfesor(row)}" />
	</p:column>
	</p:dataTable>
	</h:form>
</ui:composition>
</html>