<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Info</title>
</h:head>
<h:body>
	<h:form prependId="false">
		<p:layout fullPage="true" id="allLayout">
			<p:layoutUnit position="north" style="border: none;">
				<p:outputPanel>
					<h2 style="text-align: center;">Proiect JSF JPA Primefaces
						-Pentastagiu</h2>
				</p:outputPanel>
			</p:layoutUnit>
			<p:layoutUnit position="west" header="Menu" style="border: none;">
				<p:spacer height="50" />
				<p:menu>
					<p:menuitem value="Logout"
						outcome="paginastart?faces-redirect=true" />

					<p:menuitem value="Student"
						action="#{stform.setSelectedOption(stform.OPT1)}"
						update="optionPanel" />
					<p:menuitem value="Profesor"
						action="#{stform.setSelectedOption(stform.OPT2)}"
						update="optionPanel" />
					<p:menuitem value="News"
						action="#{stform.setSelectedOption(stform.OPT3)}"
						update="optionPanel" />

				</p:menu>
			</p:layoutUnit>

			<p:layoutUnit position="center" style="border: none;">
				<p:panel id="optionPanel" style="border: none;">
					<p:panel id="opt1Panel"
						rendered="#{stform.selectedOption == stform.OPT1}"
						style="border: none;">
						
							<p:dataTable var="s" value="#{userLogin.s}"
								style="margin-bottom:40px" rowIndexVar="row1">
								<f:facet name="header">
            						Tabela Date Studenti
       							 </f:facet>
								<p:columnGroup type="header">
									<p:row>
										<p:column headerText="Numar Matricol" sortBy="#{s.nrMatricol}" />

										<p:column headerText="Nume" sortBy="#{s.nume}" />
										<p:column headerText="An de studiu" sortBy="#{s.an}" />
										<p:column headerText="Orar" />
										<p:column headerText="Catalog" />
										<p:column headerText="Action" colspan="3" />
									</p:row>
								</p:columnGroup>
								<p:column>
									<h:outputText value="#{s.nrMatricol}" />

								</p:column>

								<p:column>
									<h:outputText value="#{s.nume}" />
								</p:column>

								<p:column>
									<h:outputText value="#{s.an}" />
								</p:column>

								<p:column>
									<p:commandLink value="#{s.orar}"
										action="#{userLogin.showOrar(row1)}" oncomplete="dlg3.show();return false" >


									</p:commandLink>
								</p:column>
								<p:column>
									<p:commandLink>
										<h:outputText value="#{s.catalog}"></h:outputText>
									</p:commandLink>
								</p:column>
								<p:column>
									<p:commandLink value="Add" onclick="dlg4.show();return false" />
								</p:column>
								<p:column>
									<p:commandLink value="Update" />
								</p:column>
								<p:column>
									<p:commandLink value="Remove" />
								</p:column>
							</p:dataTable>
						
					</p:panel>

					<p:panel id="opt2Panel"
						rendered="#{stform.selectedOption ==stform.OPT2}"
						style="border: none;">
						<p:outputLabel value="This is the content option 2 (default)." />
					</p:panel>
					<p:panel id="opt3Panel"
						rendered="#{stform.selectedOption ==stform.OPT3}"
						style="border: none;">

						<p:dataTable var="c" value="#{userLogin.continutNews}"
							style="margin-bottom:40px border: none;" rowIndexVar="row">
							<p:column style="border-style: none;">
								<h:outputText value="#{c.continutNews}"
									rendered="#{stform.con==row}" />
								<br />
								<h:outputText value="#{c.continutShortNews}"
									rendered="#{stform.con==-1}" />
								<h:commandLink value="Continuati" action="#{stform.ps(row)}"
									rendered="#{stform.con==-1}" />
							</p:column>
						</p:dataTable>

					</p:panel>
					<p:panel id="opt0Panel"
						rendered="#{stform.selectedOption ==stform.OPTo}"
						style="border: none;">
						<h:outputText value="Press Logout to signout" />
						<br />
						<h:outputText value="Press Student for student data" />
						<br />
						<h:outputText value="Press News for news data" />
					</p:panel>
				</p:panel>
			</p:layoutUnit>
		</p:layout>

	</h:form>
	<p:dialog header="Adaugare Student" widgetVar="dlg4" modal="true"
		draggable="false" resizable="false" height="280" width="460">
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="Nume" />
				<h:inputText value="#{studentForm.nume}" />
				<h:outputText value="Preume" />
				<h:inputText value="#{studentForm.prenume}" />
				<h:outputText value="An_Studiu" />
				<h:inputText value="#{studentForm.an}" />
				<h:outputText value="Numar Matricol" />
				<h:inputText value="#{studentForm.nrMatricol}" />
				<h:outputText value="Grupa" />
				<h:inputText value="#{studentForm.grupa}" />
				<h:outputText value="Email" />
				<h:inputText value="#{studentForm.email}" />
			</h:panelGrid>
			<p:spacer height="40" />
			<p:commandButton value="Save" action="#{studentForm.add}" />
			<p:commandButton value="Cancel" onclick="dlg4.hide()" />

		</h:form>
	</p:dialog>
	
	<p:dialog header="Orar Student" widgetVar="dlg3" modal="true"
		draggable="false" resizable="false" height="280" width="460"  >
		
		
		<h:form id="form">
		<p:commandButton value="showdata"  action="#{userLogin.showData()}" rendered="#{userLogin.orarRender==0}" oncomplete="dlg3.show();return false"/>
		
		<p:panel rendered="#{userLogin.orarRender==0}">
		
			<p:dataTable var="o" value="#{userLogin.orar}"
				style="margin-bottom:40px border: none;"
				emptyMessage="No Data Available">
				<p:column headerText="IdObiect">
					<h:outputText value="#{o.idObiect}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{o.data}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{o.idGrupa}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{o.intervalOrar}"></h:outputText>
				</p:column>
				<p:column>
					<h:outputText value="#{o.salaCurs}"></h:outputText>
				</p:column>

			</p:dataTable>
			<p:commandButton value="Close" onclick="dlg3.hide()" />
		</p:panel>
		</h:form>
		
	</p:dialog>
	
</h:body>
</html>