<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Formular Inscriere</title>
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>
<body>

	<f:view>
		<div id="left">
			<h2 class="titlu">Menu</h2>
			<div id="leftmenu">
				<h:panelGrid columns="1">
					<h:button value="Formular Student" outcome="pagina"></h:button>
					<h:button value="Formular 2" outcome="start"></h:button>
					<h:button value="Formular 3" outcome="start"></h:button>
					<h:button value="Formular 4" outcome="start"></h:button>
				</h:panelGrid>

			</div>
		</div>
		<div id="center">
			<h2 class="titlu">Formular Student</h2>

<hr />
			<h:form styleClass="form">
				
				<h:panelGrid columns="2">
					<h:outputText value="Nume"></h:outputText>
					<h:inputText value="#{user.nume}"></h:inputText>

					<h:outputText value="Prenume"></h:outputText>
					<h:inputText value="#{user.prenume}"></h:inputText>
					<h:outputText value="Nr_Matricol"></h:outputText>
					<h:inputText value="#{user.nrMatricol}"></h:inputText>
					<h:outputText value="Grupa"></h:outputText>
					<h:inputText value="#{user.grupa}"></h:inputText>

				</h:panelGrid>
				<br />
				<br />
				
				<h:commandButton value="Submit" action="#{user.pageControl}" />
			</h:form>
			<hr />
		</div>

	</f:view>
</body>
</html>