<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Result page</title>
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>
<body>
	<f:view>
	<div class="result">
	Studentul <h:outputText value=" #{user.nume} #{user.prenume}" styleClass="resultcolor"></h:outputText> 
	cu numarul matricol<h:outputText value="#{user.nrMatricol}" styleClass="resultcolor"></h:outputText> 
	a fost inscris in grupa  <h:outputText value="#{user.grupa}" styleClass="resultcolor"></h:outputText>
	</div>
		
	</f:view>

</body>
</html>