<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Start page</title>
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>
<h:body>
    <f:view>
    <div id="left">
			<h2 class="titlu">Menu</h2>
			<div id="leftmenu">
				<h:panelGrid columns="1">
					<h:button value="Formular Student" outcome="pagina"></h:button>
					<h:button value="Formular 2" outcome="start"></h:button>
					<h:button value="Formular 3" outcome="start"></h:button>
					<h:button value="Formular 4" outcome="start"></h:button>
				</h:panelGrid>

			</div>
		</div>
		<div id="center">
			<h2 class="titlu">Alege Optiunea</h2>

<hr /><br/>
<br/><br/><br/><h:outputText value="Push buttons" styleClass="result"></h:outputText><br/><br/><br/><br/>

			<hr />
			</div>
    </f:view>
	

</h:body>
</html>