<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<p:dialog header="Catalog Student" widgetVar="dlg5" modal="true"
		draggable="false" resizable="false" height="280" width="500">
		<p:dataTable var="c" value="#{actionLinkClass.catalog}"
				style="margin-bottom:40px border: none;"
				emptyMessage="No Data Available" lazy="true" id="catalogtable">
				<p:column headerText="IdObiect">
					<h:outputText value="#{c.idObiect}"></h:outputText>
				</p:column>
				<p:column headerText="Data">
					<h:outputText value="#{c.dataNotei}"></h:outputText>
				</p:column>
				<p:column headerText="Prezente">
					<h:outputText value="#{c.nrPrezente}"></h:outputText>
				</p:column>
				
			</p:dataTable>
	</p:dialog>

</ui:composition>
</html>