body{
    background-color: #f5f5f5;
   
}
#container{
width:75%;
height:300px;
position: relative; top: 10px;left:50px;
    background-color: #f9a646;
}
#top{
    position: relative; top: 10px;
    background-color: #93b1c6;
    text-align:center
}
#left{
    background-color: #c7d0d5;
    width: 150px;
    position: relative; top: 10px;
    float: left;
     border-right-style: solid;
}
#left a {
   display:block;
 
 
   background-color: #ffffff;
}
h2{text-align:center;}
#center1{
position: relative;top: 10px;left: 170px;
width: 800px;
height:170px;
    background-color: #edd5d1;
}
#center1 p{

    position: relative;top: 50px;left: -100px;
    text-align: center;
    font-size: large;
}
#formular{
    display: none;
position: relative;top: 10px;left: 170px;
width: 800px;
height:170px;
    background-color: #edd5d1;
}
#formular form{
       position: relative;top: 20px; left: -50px;
    font-size: large;
}