.titlu {
	border-right:none;
	text-align:center;
	color: darkblue;
}

#left {
	position: relative ;
	float: left;
	margin-top:-20px;
	width: 130px;
}
#leftmenu{border-right: 3px solid #000;height:200px}
.result {
	
	font-weight: bold;
	font-size: 24px;
	font-family: "Times New Roman", Serif;
	line-height: normal;
	font-style: normal
}
.resultcolor{
	color:#0000FF;
}
#center{
	position: relative ;
	float: center;
	margin-left:140px;
	margin-top:50px;
}

.form{
	float: center;
	margin-left:150px;
}