<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<p:dialog header="Adaugare Profesor" widgetVar="dlg7" modal="true"
		draggable="false" resizable="false" height="280" width="460" >
		<h:form id="addprofesor">
			<h:panelGrid columns="2">
				<h:outputText value="Nume" />
				<h:inputText value="#{actionLinkClass.prof.nume}" />
				<h:outputText value="Preume" />
				<h:inputText value="#{actionLinkClass.prof.prenume}" />
				<h:outputText value="Site" />
				<h:inputText value="#{actionLinkClass.prof.sitePersonal}" /> 
				<h:outputText value="Email" />
				<h:inputText value="#{actionLinkClass.prof.email}" />
			</h:panelGrid>
			<p:spacer height="40" /> 
			<p:commandButton value="Save" action="#{userLogin.addProfesor}" update=":optionPanel" oncomplete="dlg7.hide()"/>
			<p:commandButton value="Cancel" onclick="dlg7.hide()" />

		</h:form>
	</p:dialog>
</ui:composition>
</html>