<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>

	<p:dialog header="Catalog #{actionLinkClass.catalogDialogTitle}"
		widgetVar="dlg5" modal="true" draggable="false" resizable="false"
		height="550" width="650" id="catalogDialog">
		<p:outputPanel autoUpdate="true">
			<h:form id="obiectList">
				<p:panelGrid style="border:none" columns="2" styleClass="nobordergridpanel">
					<p:outputLabel for="listaobiecte" value="Obiecte: " />
					<p:selectOneMenu id="listaobiecte"
									 value="#{actionLinkClass.obiectAles}">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItems value="#{actionLinkClass.obiecte}" />
					</p:selectOneMenu>
					<p:commandButton value="Show Catalog"
									 action="#{actionLinkClass.creareCatalog}" 
									 update=":catalogtable" />
				</p:panelGrid>
			</h:form>
		</p:outputPanel>
		<h:form id="catalogtable">
			<p:dataTable var="c" value="#{actionLinkClass.catalog}"
							style="margin-bottom:40px border: none;"
				emptyMessage="No Data Available" id="catalogtable"
				selection="#{userLogin.c1}" rowKey="#{c.c}" rowIndexVar="row"
				rowSelectMode="add">

				<p:column selectionMode="multiple">

				</p:column>
				
				<p:column headerText="Data">
					<h:outputText value="#{c.data}" rendered="#{!c.selected}" />
					<p:calendar value="#{c.c.dataNotei}" rendered="#{c.selected}" />
				</p:column>
				<p:column headerText="Nota">
					<h:outputText value="#{c.c.nota}" rendered="#{!c.selected}" />
					<h:inputText value="#{c.c.nota}" rendered="#{c.selected}" />
				</p:column>
				<p:column headerText="Prezente">
					<h:outputText value="#{c.c.nrPrezente }" rendered="#{!c.selected}" />
					<h:inputText value="#{c.c.nrPrezente }" rendered="#{c.selected}" />
				</p:column>

			</p:dataTable>
			<br />
			<p:spacer width="30" />
			<p:panelGrid columns="5" styleClass="nobordergridpanel">
				<p:spacer width="30" />
				<p:commandButton value="Add" 
								 action="#{userLogin.addCatalog}"
								 update=":catalogtable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:commandButton value="Update" 
								 action="#{userLogin.updateCatalog}"
								 update=":catalogtable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:commandButton value="Remove" 
								 action="#{userLogin.removeCatalog}"
								 update=":catalogtable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:spacer width="30" />
				<p:spacer width="60" />
				<p:spacer width="60" />
				<p:commandButton value="Save" 
								 action="#{userLogin.aplliedAction}"
								 update=":catalogtable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:commandButton value="Cancel" action="#{userLogin.cancel}" 
												update=":catalogtable" 
												disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:spacer width="60"  />
			</p:panelGrid>
		</h:form>

	</p:dialog>

</ui:composition>
</html>