<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
<p:outputPanel autoUpdate="true">
	<h:form id="grupeform">
		
			<p:panelGrid style="border:none" columns="5" styleClass="nobordergridpanel">
				<p:outputLabel for="grupeStudenti" value="Grupe: " />
				<p:selectOneMenu id="grupeStudenti"
					value="#{actionLinkClass.grupaAleasa}">
					<f:selectItem itemLabel="Select One" itemValue="" />
					<f:selectItems value="#{userLogin.grupe}" />
				</p:selectOneMenu>
				<p:commandButton value="Show Studenti"
					actionListener="#{actionLinkClass.creareStudenti}"
					update=":studentform" />
				<p:commandButton value="Orar Grupa" action="#{userLogin.showOrar}"
					update=":tab,:cal" oncomplete="dlg3.show();return false" />
				<p:commandButton value="Add Studenti" disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}"
					oncomplete="dlg4.show();return false" update=":stform" />
			</p:panelGrid>
		
	</h:form>
</p:outputPanel>
	<p:spacer height="20" />
	<h:form id="studentform">
		<p:dataTable var="s" value="#{actionLinkClass.s}" rowIndexVar="row"
			id="tabelst">

			<p:ajax event="sort" listener="#{actionLinkClass.onSortStudent}" />
			<f:facet name="header">
				<h:outputText value="Tabel Informatii Studenti" />
			</f:facet>
			<p:column headerText="Numar Matricol" sortBy="#{s.nrMatricol}">
				<h:outputText value="#{s.nrMatricol}" />
			</p:column>
			<p:column headerText="Nume" sortBy="#{s.nume}">
				<h:outputText value="#{s.nume}" />
			</p:column>
			<p:column headerText="An studiu"  sortBy="#{s.an}">
				<h:outputText value="#{s.an}" />
			</p:column>

			<p:column headerText="Catalog">
				<p:commandLink value="#{s.catalog} "
					action="#{actionLinkClass.showCatalog(row)}" update=":obiectList,:catalogDialog"
					oncomplete="dlg5.show();return false" />


			</p:column>
			<p:column headerText="Actions" colspan="2" rendered="#{actionLinkClass.roleRendered}">
				<p:commandLink value="Update" action="#{userLogin.findStudent(row)}"
					update=":updatedialogform" oncomplete="dlg0.show();return false" />/
			
				<p:commandLink value="Remove" action="#{userLogin.findStudent(row)}"
					update=":confirmremovestudent"
					oncomplete="confirmStudent.show();return false" />


			</p:column>


		</p:dataTable>
	</h:form>

</ui:composition>

</html>