<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >
		<h:form id="tabelgrupeform">
		<p:dataTable  var ="g" value="#{userLogin.grupe}" rowIndexVar="row">

			
			<p:column headerText="Nume Grupa" >
				<h:outputText value="#{g}" />
			</p:column>
			
			
			
			<p:column headerText="Actions" >
			
				<p:commandLink value="Add"
					 />/
			
				<p:commandLink value="Remove"
					/>/
			
				<p:commandLink value="Update" />
				
			</p:column>
		</p:dataTable>
	</h:form>
</ui:composition>
</html>