<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >
	<p:dialog widgetVar="dialogobiecteprofesor" 
			  modal="true" draggable="true" 
			  resizable="false" 
			  height="300"
			  width="500">
		<h:form id="obiecteprofesor">
			<p:dataTable value="#{userLogin.obiectePredate}" var="o">
				<p:column headerText="Nume">
				<h:outputText value="#{o.nume}" />
				</p:column>
				<p:column headerText="Credite">
				<h:outputText value="#{o.credite}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</p:dialog>
</ui:composition>
</html>