<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<h:form id ="newstable" style="width: 650px; ">
		<p:dataTable var="c" value="#{userLogin.service.stiri}"
			style="margin-bottom:40px ;border: none;" rowIndexVar="row"
			selection="#{userLogin.selectionNews}" rowKey="#{c.stire}" styleClass="newstablestyle">
			<p:column selectionMode="multiple" rendered="#{stform.con==-1}" />
			<p:column style="border: none; width: 380 px; "
				rendered="#{stform.con==row}" >
				<h:outputText value="#{c.stire.titlu}" />
				<br />
				<h:outputText value="#{c.stire.continut}" />
				<h:commandLink value=" ...Back" action="#{stform.ps(row)}" />
			</p:column>
			<p:column rendered="#{stform.con==-1}"
				style="border: none; width: 380 px; ">
				<h:outputText value="#{c.stire.titlu}"  rendered="#{!c.selected}" />
				<h:inputText value="#{c.stire.titlu}" rendered="#{c.selected}"/>
				<br />
				<h:outputText value="#{userLogin.createShortNews(c.stire.continut)}"  rendered="#{!c.selected}" />
				<h:commandLink value="Continuati" action="#{stform.ps(row)}" rendered="#{!c.selected}" />
			    <p:inputTextarea value="#{c.stire.continut}" rows="6" cols="100" rendered="#{c.selected}" />

			</p:column>
			
		</p:dataTable>
		<br />
			<p:spacer width="30" />
			<p:panelGrid columns="5" style="border:0px;" styleClass="nobordergridpanel">
				<p:spacer width="30" />
				<p:commandButton value="Add" 
								 action="#{userLogin.addNews}" 
								 update=":newstable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}"/>
				<p:commandButton value="Update" 
								 action="#{userLogin.updateNews}" 
								 update=":newstable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />  
				<p:commandButton value="Remove" 
								 action="#{userLogin.removeNews}" 
								 update=":newstable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:spacer width="30" />
				<p:spacer width="60" />
				<p:spacer width="60" />
				<p:commandButton value="Save" 
								 action="#{userLogin.saveNews}" 
								 update=":newstable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}"/>
				<p:commandButton value="Cancel" 
								 action="#{userLogin.cancelNews}" 
								 update=":newstable" 
								 disabled="#{actionLinkClass.roleDisabled1 or actionLinkClass.roleDisabled2}" />
				<p:spacer width="60" />
			</p:panelGrid>
	</h:form>

</ui:composition>
</html>