<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>

	<p:dialog header="Orar Student" widgetVar="dlg3" modal="true"
		draggable="false" resizable="false" height="380" width="650">
		<h:form id="cal">
			<p:outputLabel value="Alegeti Data" />
			<p:calendar value="#{userLogin.service.dataAleasa}" showOn="button" disabledWeekends="true">
				<p:ajax event="dateSelect" listener="#{userLogin.listenerTabView}"
					update=":tab" />
			</p:calendar>
		</h:form>
		<br />
		<p:spacer height="50" />
		<h:form id="tab">
			<p:tabView activeIndex="#{userLogin.service.tabViewIndex}"
				value="#{userLogin.service.zilele}" var="z" style="border:none;">

				<p:ajax event="tabChange" listener="#{userLogin.onTabChange}"
					update=":tab" />
				<p:tab title="#{z}" titleStyle="font-size: 62%">
				<p:outputPanel rendered="#{not empty actionLinkClass.orar}">

					<ul>
						<ui:repeat value="#{actionLinkClass.orar}" var="o">
							<li><h:outputText value="#{o.numeObiect} , de la #{o.interval} in sala #{o.sala}" /></li>
						</ui:repeat>
					</ul>
					</p:outputPanel>
					<h:outputText value="Nu s-au gasit date" rendered="#{empty actionLinkClass.orar}"/>
				</p:tab>

			</p:tabView>
		</h:form>
	</p:dialog>

</ui:composition>
</html>