<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control"
		content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>First page</title>
</h:head>
<h:body>

	<p:layout style="min-width:400px;min-height:600px;border: none;">
		<p:layoutUnit position="north" style="border: none;">
			<p:outputPanel>
				<h2 style="text-align: center;">Proiect JSF JPA Primefaces
					-Pentastagiu</h2>
			</p:outputPanel>
		</p:layoutUnit>
		<p:layoutUnit position="west" style="border: none;">
			<h:form>
				<p:menu>
					<p:menuitem value="Login" icon="ui-icon-power"
						action="#{userLogin.login}" update=":center" />
					<p:menuitem value="pd" icon="ui-icon-power"
						action="#{userLogin.populate}" />
				</p:menu>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center" style="border: none;">
			<p:panel id="center" style="border:none;">
				<p:panel style="border:none;" rendered="#{!userLogin.loginVar}">
					<h1 style="text-align: center; position: center;">Welcome to
						the app!!</h1>
				</p:panel>
				<p:panel style="border:none;" visible="#{userLogin.loginVar}">

					<h:form id="loginform" prependId="false"
						onsubmit="document.getElementById('loginform').action='j_security_check';">
						<h:messages />
						<h:panelGrid columns="2" style="border:none;">
							<h:outputText value="Username  " />
							<h:inputText name="j_username" id="j_username" />
							<p:spacer height="10" />
							<p:spacer height="10" />
							<h:outputText value="Parola " />
							<h:inputSecret name="j_password" id="j_password" />
						</h:panelGrid>


						<p:commandButton value="Submit" type="submit" ajax="false"  />

					</h:form>
				</p:panel>
			</p:panel>
		</p:layoutUnit>

	</p:layout>

</h:body>
</html>