<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >
<p:dialog header="Login" widgetVar="dlg2" modal="true" draggable="false" resizable="false" height="280" width="460">
    <h:form style=" width: 360px;margin:70px auto; z-index: auto; height: 80px">
				<h:panelGrid columns="2" style="border:none; width: 350px; z-index: auto; height: inside">
					<h:outputText value="Email  " />
					<h:inputText value="#{userLogin.email}" />
					
					<h:outputText value="        " />
					<h:outputText value="        " />
					<h:outputText value="Numar Matricol " />
					<h:inputText value="#{userLogin.nrMatricol}" />

				</h:panelGrid>


				<p:commandButton value="Submit"
					style=" width:30%;   margin:5px 150px; " action="#{userLogin.pageControl}" />

			</h:form>
</p:dialog>  
	
</ui:composition>
</html>