<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition >
<p:dialog header="Update Student" widgetVar="dlg6" modal="true"
		draggable="false" resizable="false" height="280" width="600">
	<h:form id="updatedialogform">
			<h:panelGrid columns="2">
				<h:outputText value="Nume" />
				
				<h:inputText value="#{userLogin.service.student.numeBaza}" />
				<h:outputText value="Preume" />
				
				<h:inputText value="#{userLogin.service.student.prenume}" />
				<h:outputText value="An_Studiu" />
				
				<h:inputText value="#{userLogin.service.student.an}" />
				<h:outputText value="Numar Matricol" />
				
				<h:inputText value="#{userLogin.service.student.nrMatricol}" />
				<h:outputText value="Grupa" />
				
				<h:inputText value="#{userLogin.service.student.grupa}" />
				<h:outputText value="Email" />
				
				<h:inputText value="#{userLogin.service.student.email}" />
			</h:panelGrid>
			<p:commandButton value="Update"  action="#{userLogin.updateStudent}" update=":grupeform,:studentform" oncomplete="dlg6.hide()"/>
			<p:commandButton value="Cancel"   oncomplete="dlg6.hide()"/>
			</h:form>
			</p:dialog> 
</ui:composition>
</html>