
body {
  background-color: #e9e9e9; 
}
.gridnews tr{
	
	border:none;
	
}
.gridnews td {
   border:none;
}
.gridgrupestudent td {
   border:none;
}
.gridgrupestudent tr{
	border:none;
}
.newstablestyle thead {
	display: none;
}
.newstablestyle tbody {
	border: none;
}
.newstablestyle tbody td {
	border: none;
}
.newstablestyle tbody tr {
	border: none;
}